.filterContainer {
  max-width: 30%;
  padding: var(--space-4) var(--space-4) var(--space-4) 0;
  border-right: 2px solid #00000020;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filterEntries {
  flex: 1;
  overflow: auto;
  max-height: 70vh;
  overflow: auto;
  max-height: 70vh;
  flex-direction: column;
  gap: 16px;
  display: flex;
  scrollbar-width: none;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.fieldsContainer {
  display: flex;
  gap: var(--space-6);
  flex-direction: column;
}

.fieldsContainer > * {
  margin-bottom: 0;
}

.submitButton {
  margin-bottom: 0;
}
